Julia Scientific Programming


BASICS...............


PRINT FUCTION IN JULIA

In [4]:
println("Hello World")
println("This is an Introduction of Julia Scientific Progamming")
println("I am Using Julia 1.4.2 version of Julia")
println("I am Abhishek Biswas of Dr NTR college of Agricultural Engineering Bapatla")
println("This is a jupyter Notebook")
println("Bye, see you later")

Hello World
This is an Introduction of Julia Scientific Progamming
I am Using Julia 1.4.2 version of Julia
I am Abhishek Biswas of Dr NTR college of Agricultural Engineering Bapatla
This is a jupyter Notebook
Bye, see you later

call print fucion without prompt in run like in previous cell..... by adding semicolon (;)

In [10]:
println("Hello World");
println("This is an Introduction of Julia Scientific Progamming");
println("I am Using Julia 1.4.2 version of Julia");
println("I am Abhishek Biswas of Dr NTR college of Agricultural Engineering Bapatla");
println("This is a jupyter Notebook");
println("Bye, see you later");

Hello World
This is an Introduction of Julia Scientific Progamming
I am Using Julia 1.4.2 version of Julia
I am Abhishek Biswas of Dr NTR college of Agricultural Engineering Bapatla
This is a jupyter Notebook
Bye, see you later

Assignment Operator and Assignment of Variable

In [9]:
name = "Abhishek"
typeof(name)

String

In [8]:
number = 40
typeof(number)

Int64

comment in Julia Progamming......

For single line comment (# ------#)

In [11]:
#This is first comment in julia.
#This is single line comment.

For Multiple line comment (#== ---- ==#)

In [12]:
#== Julia Scientific Programming

BASICS...............

PRINT FUCTION IN JULIA ==#

Arithmatics Operation in Julia Progamming.......

In [19]:
sum = 3+7;
println(sum)

10

In [18]:
product = 3*7;
println(product)

21

In [21]:
division = 12/3;
println(division)

4.0

In [23]:
modulo = 12%3;
println(modulo)

0

String in julia Progamming 

single line string 


"----"               

single charater string


'----'                 

Multiple line String charater


"""-----"""

In [25]:
String1 = "This is Julia Progamming"

"This is Julia Progamming"

In [35]:
string2 = """I am also a string. """

"I am also a string. "

In [39]:
string3 = """Look, This is no errors"!!! """

"Look, This is no errors\"!!! "

In [40]:
typeof('a')

Char

In [44]:
name = "Abhishek Biswas"
num_fingers = 10
num_toes = 10

println("Hello, my name is $name.")
println("I have $num_fingers fingers and $num_toes toes.")

println("That is $(num_fingers + num_toes) digits in all!!")

Hello, my name is Abhishek Biswas.
I have 10 fingers and 10 toes.
That is 20 digits in all!!

In [45]:
s3 = "How many cats ";
s4 = "is too many cats?";
cat = 10

string(s3, s4)

string("I don't know, but ", cat, " is too few.")

"I don't know, but 10 is too few."

In [46]:
s3*s4

"How many cats is too many cats?"

Data Structure in Julia


some example of Data Structure

In [47]:
myfavorite_progamming_langauge = ("lisp", "Fortrain", "Basic", "Cobol", "Algol", "visul Basic", "C", "C++", "Java", "ADA", "python", "Julia", "Javascript", "Html", "others")

("lisp", "Fortrain", "Basic", "Cobol", "Algol", "visul Basic", "C", "C++", "Java", "ADA", "python", "Julia", "Javascript", "Html", "others")

This is error as Dictionary are immutable....

In [48]:
myfavoriteanimals[1]

UndefVarError: UndefVarError: myfavoriteanimals not defined

1) Tuples...


they are same as Dictionary but can be manupluate by indexing .....

In [50]:
myfavorite_progamming_langauge = (Hardest = "Pascal", Hard = "COBOL", Medium = "python", easy = "Julia")

(Hardest = "Pascal", Hard = "COBOL", Medium = "python", easy = "Julia")

In [54]:
myfavorite_progamming_langauge[1]

"Pascal"

In [55]:
myfavorite_progamming_langauge.Medium

"python"

2) Dictonaries


list of various thing but cannot immuatble.......

In [61]:
myphonebook = Dict("Pizza guy" => "688-6888", "Ghostbusters" => "555-2368", "Manga enquiry" => "152-6489")

Dict{String,String} with 3 entries:
  "Manga enquiry" => "152-6489"
  "Pizza guy"     => "688-6888"
  "Ghostbusters"  => "555-2368"

In [62]:
myphonebook["Pizza guy"]

"688-6888"

In [63]:
myphonebook["Fire Busters"] = "555-FIRE"  #Adding another key to our dictionary

"555-FIRE"

In [64]:
myphonebook

Dict{String,String} with 4 entries:
  "Manga enquiry" => "152-6489"
  "Pizza guy"     => "688-6888"
  "Fire Busters"  => "555-FIRE"
  "Ghostbusters"  => "555-2368"

In [65]:
pop!(myphonebook, "Manga enquiry")    #Removing key to our dictionary

"152-6489"

In [66]:
myphonebook

Dict{String,String} with 3 entries:
  "Pizza guy"    => "688-6888"
  "Fire Busters" => "555-FIRE"
  "Ghostbusters" => "555-2368"

Array

its is orderd and Mutable to every point

In [67]:
myfriends_everyday = ["Android", "PC", "Ps4", "Fb", "whatsapp"]

5-element Array{String,1}:
 "Android"
 "PC"
 "Ps4"
 "Fb"
 "whatsapp"

In [68]:
fibonacci = [1, 1, 2, 3, 5, 8, 13]

7-element Array{Int64,1}:
  1
  1
  2
  3
  5
  8
 13

In [69]:
mixture = [1, 1, 2, 3, "Ted", "Robyn"]

6-element Array{Any,1}:
 1
 1
 2
 3
  "Ted"
  "Robyn"

In [70]:
myfriends_everyday[3]

"Ps4"

In [74]:
myfriends_everyday[3] = "Xbox360"

"Xbox360"

In [75]:
push!(fibonacci, 21) #adding a number to Array..by using push! function

8-element Array{Int64,1}:
  1
  1
  2
  3
  5
  8
 13
 21

In [76]:
pop!(fibonacci)  #Removing the recently add number in Array using pop! function

21

In [78]:
fibonacci

7-element Array{Int64,1}:
  1
  1
  2
  3
  5
  8
 13

Loops....in Julia progamming....


1. `while` loops


2. `for` loops

In [84]:
################################## For While LOOP ####################
# ```julia
# while *condition*
#     *loop body*
# end
# ```

n = 0
while n < 20
    global n += 1
    println(n)
end
n
println(n)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
20

In [85]:
myfriends = ["Abhishek", "Abhinav", "Ashish", "Vipul", "Vishesh", "Vipul"]

i = 1
while i <= length(myfriends)
    friend = myfriends[i]
    println("Hi $friend, it's great to see you!")
    global i += 1
end

Hi Abhishek, it's great to see you!
Hi Abhinav, it's great to see you!
Hi Ashish, it's great to see you!
Hi Vipul, it's great to see you!
Hi Vishesh, it's great to see you!
Hi Vipul, it's great to see you!

In [87]:
# ## for loops
#
# The syntax for a `for` loop is
#
# ```julia
# for *var* in *loop iterable*
#     *loop body*
# end
# ```


for n in 1:30
    println(n)
end

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [89]:
myfriends = ["Abhishek", "Abhinav", "Ashish", "Vipul", "Vishesh", "Vipul"]

for friend in myfriends
    println("Hi $friend, it's great to see you! and how are you guys?")
end

Hi Abhishek, it's great to see you! and how are you guys?
Hi Abhinav, it's great to see you! and how are you guys?
Hi Ashish, it's great to see you! and how are you guys?
Hi Vipul, it's great to see you! and how are you guys?
Hi Vishesh, it's great to see you! and how are you guys?
Hi Vipul, it's great to see you! and how are you guys?

In [91]:
m, n = 10, 10
A = fill(0, (m, n))

for j in 1:n
    for i in 1:m
        A[i, j] = i + j
    end
end
println(A)

[2 3 4 5 6 7 8 9 10 11; 3 4 5 6 7 8 9 10 11 12; 4 5 6 7 8 9 10 11 12 13; 5 6 7 8 9 10 11 12 13 14; 6 7 8 9 10 11 12 13 14 15; 7 8 9 10 11 12 13 14 15 16; 8 9 10 11 12 13 14 15 16 17; 9 10 11 12 13 14 15 16 17 18; 10 11 12 13 14 15 16 17 18 19; 11 12 13 14 15 16 17 18 19 20]

In [92]:
B = fill(0, (m, n))

for j in 1:n, i in 1:m
    B[i, j] = i + j
end
println(B)

[2 3 4 5 6 7 8 9 10 11; 3 4 5 6 7 8 9 10 11 12; 4 5 6 7 8 9 10 11 12 13; 5 6 7 8 9 10 11 12 13 14; 6 7 8 9 10 11 12 13 14 15; 7 8 9 10 11 12 13 14 15 16; 8 9 10 11 12 13 14 15 16 17; 9 10 11 12 13 14 15 16 17 18; 10 11 12 13 14 15 16 17 18 19; 11 12 13 14 15 16 17 18 19 20]

In [94]:
C = [i + j for i in 1:m, j in 1:n]

10Ã—10 Array{Int64,2}:
  2   3   4   5   6   7   8   9  10  11
  3   4   5   6   7   8   9  10  11  12
  4   5   6   7   8   9  10  11  12  13
  5   6   7   8   9  10  11  12  13  14
  6   7   8   9  10  11  12  13  14  15
  7   8   9  10  11  12  13  14  15  16
  8   9  10  11  12  13  14  15  16  17
  9  10  11  12  13  14  15  16  17  18
 10  11  12  13  14  15  16  17  18  19
 11  12  13  14  15  16  17  18  19  20

if and else statement


conditional statements/control statements

In [95]:
# In Julia, the syntax
#
# ```julia
# if *condition 1*
#     *option 1*
# elseif *condition 2*
#     *option 2*
# else
#     *option 3*
# end
# ```


N = 1

if (N % 3 == 0) && (N % 5 == 0) # `&&` means "AND"; % computes the remainder after division
    println("FizzBuzz")
elseif N % 3 == 0
    println("Fizz")
elseif N % 5 == 0
    println("Buzz")
else
    println(N)
end

1

fuction in julia

In [96]:
function sayhi(name)
    println("Hi $name, it's great to see you!")
end

function f(x)
    x^2
end

f (generic function with 1 method)

In [99]:
sayhi("Abhishek")

f(1789)

Hi Abhishek, it's great to see you!

3200521